<!DOCTYPE html>
{% extends "test_app/base_styled.html" %}
{% load staticfiles %}

{% block title_head %}
  <title>silent: portraits</title>
{% endblock %}

{% block main_body %}
  {% for image_upload in image_uploads %}
    {# <p>Title: {{ image_upload.title }}</p>
    <p>Image: {{ image_upload.image }}</p>#}
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="/media/{{ image_upload.image }}" alt="...">
      </a>
    </div> <!-- col-xs-6 col-md-4 -->
  {% endfor %}
{% endblock %}
