/* body */
@media ( min-width: 767px ) {
    #navigation {
        position: fixed;
        background-color: #f6f6f6;
    }
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Inconsolata', monospace;
}

/* sidebar */
div.sidebar {
  text-align: center;
}

.sidebar-footer {
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  padding: 1rem;
  background-color: #efefef;
}

.sidebar-loc {
  position: fixed;
    top: 40%;
    right: 0;
    bottom: 0;
    left: -0.3%;
  padding: 1rem;
  background-color: #ffffff;
}

.sidebar-loc i {
  vertical-align: middle;
}

.sidebar-section {
  padding: 15px 0px 10px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #f6f6f6;
}

.logo {
  border: 2px solid black;
  margin: 10px 50px 0px;
}

/* main */
#main {
  padding-right: 0; /*15px in bootstrap.css*/
  padding-left: 0;  /*idem*/
  margin-right: auto;
  margin-left: auto;
}

#main img {
  width: 100%;
}
