<!DOCTYPE html>
{% extends "test_app/base_styled.html" %}
{% load staticfiles %}

{% block title_head %}
  <title>silent: {{ title }}</title>
{% endblock %}

{% block main_body %}
  <div class="container-fluid col-xs-8 col-xs-offset-2">
    <div class="page-header">
      <h1>Delete photo</h1>
    </div>

    <div class="col-xs-6">
      <a href="#" class="thumbnail">
        <img src="/media/{{ image.image }}" alt="...">
      </a>
    </div>

    <div class="col-xs-6">
      <h3>Delete this photo?</h3>
      <form class="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
         <p><input type="submit" class="btn btn-danger" name="" value="Delete">&nbsp;<a href="{% url 'test_app:update' image.id %}"><button type="button" class="btn btn-default">Go back</button></a></p>
      </form>
    </div>
  </div>
{% endblock %}
