<!DOCTYPE html>
{% extends "test_app/base_styled.html" %}
{% load staticfiles %}

{% block main_body %}
  <div class="container-fluid col-xs-10 col-xs-offset-1">
    <br>
    <div class="col-md-6 col-xs-12">
      <a href="#" class="thumbnail">
        <img src="/media/{{ image.image }}" alt="...">
      </a>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">"<strong>{{ image.title }}</strong>"</h3>
        </div>

        <div class="panel-body">
          <table class="table-condensed">
            <tr><td class="text-right"><small>SHOT WITH:</small></td>
                <td>&ensp;{{ image.camera }}</td>
            </tr>
            <tr><td class="text-right"><small>IN:</small></td>
                <td>&ensp;{{ image.location }}</td>
            </tr>
            <tr><td class="text-right"><small>ON:</small></td>
                <td>&ensp;{{ image.date }}</td>
            </tr>
          </table>
        </div>
      </div>

      {% if loggedin %}
        <a href="#modalUpdateImage" data-toggle="modal">
          <button type="button" class="btn btn-warning" name="button"><small>UPDATE THIS IMAGE</small></button>
        </a>
      {% endif %}
    </div>
  </div>

  {% if loggedin %}
    <div id="modalUpdateImage" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="text-center">Update Image <small>(Image ID: {{ image.id }})</small></h1>
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
              {{ form.as_p }}
              {% csrf_token %}

              <input type="submit" class="btn btn-primary" name="" value="Save changes">
              <a href="{% url 'test_app:delete' image.id %}">
                <button type="button" class="btn btn-danger" name="button">Delete</button>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
