/* fonts */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Condensed');

/* body */
@media ( min-width: 767px ) {
    #navigation {
        position: fixed;
        background-color: #f6f6f6;
    }
}

body {
  font-family: 'Inconsolata', monospace;
  font-family: 'Roboto Condensed', sans-serif;
}

/* sidebar */
div.sidebar {
  text-align: center;
}

div.sidebar-footer {
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  padding: 1rem;
  background-color: #efefef;
}

div.sidebar-loc {
  position: fixed;
    right: 0;
    top: 60%;
    bottom: 0;
    left: -0.3%;
  padding: 1rem;
  background-color: #ffffff;
}

div.sidebar i {
  vertical-align: middle;
}

.sidebar-section {
  margin-left: -15px;
  margin-right: -15px;
}

.logo {
  border: 2px solid black;
  margin: 10px 50px 0px;
}

.logo a {
  color: black;
}

/* main */
#main {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

#main img {
  width: 100%;
}

#main .gallery-fluid {
  padding: 0;
}

.frontpage {
  width: 100%;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  padding: 2px;
}

.table {
  margin: auto;
}

img.in-modal {
  max-height: 100%;
  max-width: 100%;
}

img.ppic {
  border-radius: 2%;
}

*, *:before, *:after {
  box-sizing:  border-box !important;
}

.masonry-grid {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: .15em;
 -webkit-column-gap: .15em;
}

.masonry-item {
  display: inline-block;
  box-sizing: border-box;
  border: 5px solid white;
  padding-left: .0;
  padding-right: .1em;
  width: 100%;

  /* don't clip hovered images */
  overflow: hidden;
}

.masonry-well {
  position: relative;
  display: block;
  -webkit-animation: zoomOut .2s ease-out forwards;
  animation: zoomOut .2s ease-out forwards;

  /* don't break container on zoom */
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  break-inside: avoid;
  -webkit-backface-visibility: hidden;
}

.masonry-well:hover {
  -webkit-animation: zoomIn .333s ease-in forwards;
  animation: zoomIn .333s ease-in forwards;
  z-index: 999;
}

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale( 1 );
    -webkit-opacity: 1;
  }
  to {
    -webkit-transform: scale( 1.1 );
    -webkit-opacity: 0.5;
  }
}

@keyframes zoomIn {
  from {
    transform: scale( 1 );
    opacity: 1;
  }
  to {
    transform: scale( 1.1 );
    opacity: 0.5;
  }
}

@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale( 1.1 );
    -webkit-opacity: 0.5;
  }
  to {
    -webkit-transform: scale( 1 );
    -webkit-opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale( 1.1 );
    opacity: 0.5;
  }
  to {
    transform: scale( 1 );
    opacity: 1;
  }
}
