/* body */
@media ( min-width: 767px ) {
    #navigation {
        position: fixed;
        background-color: #f6f6f6;
    }
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Inconsolata', monospace;
}

/* sidebar */
div.sidebar {
  text-align: center;
}

div.sidebar-footer {
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  padding: 1rem;
  background-color: #efefef;
}

div.sidebar-loc {
  position: fixed;
    right: 0;
    top: 60%;
    bottom: 0;
    left: -0.3%;
  padding: 1rem;
  background-color: #ffffff;
}

div.sidebar i {
  vertical-align: middle;
}

.sidebar-section {
  margin-left: -15px;
  margin-right: -15px;
}

.logo {
  border: 2px solid black;
  margin: 10px 50px 0px;
}

.logo a {
  color: black;
}

/* main */
#main {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

#main img {
  width: 100%;
}

#main .gallery-fluid {
  padding: 0;
}

.frontpage {
  width: 100%;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

*, *:before, *:after {
  box-sizing:  border-box !important;
}

.masonry-grid {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: .15em;
 -webkit-column-gap: .15em;
}

.masonry-item {
  display: inline-block;
  padding-left: .1em;
  padding-right: .1em;
  width: 100%;

  /* don't clip hovered images */
  overflow: hidden;
}

.masonry-well {
  position: relative;
  display: block;
  transition: .333s ease;

  /* don't break container on zoom */
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  break-inside: avoid;
  -webkit-backface-visibility: hidden;
}

.masonry-well:hover {
  opacity: 0.5;
  height: 110%;
  transform: scale( 1.1 );
}
